<%- include('./partials/_header.ejs') %>

<div class="container">
          <% errors.forEach(error => { %>
                    <div class="alert alert-danger mt-3">
                              <p><%= error %></p>
                    </div>
           
          <% }) %>

          <hr>
          <div class="card mt-5">
                    <div class="card-header">
                              <h2>Fazer login</h2>
                    </div>

                    <div class="card-body">
                              <form action="/login/auth" method="post">

                                        <label for="email" class="mt-4">E-mail</label>
                                        <input type="email" name="email" class="form-control" placeholder="exemplo@gmail.com">

                                        <label for="password" class="mt-4">Senha</label>
                                        <input type="password" name="password" class="form-control" placeholder="Digite sua senha">

                                        <button type="submit" class="btn btn-success btn-block mt-4">Entrar</button>

                              </form>

                    </div>
          </div>
</div>

<%- include('./partials/_tinyMCE.ejs') %>

<%- include('./partials/_foot.ejs') %>