<%- include('./partials/_header.ejs') %> 
<%- include('./partials/_navbar.ejs') %>

<div class="container">
  <div class="card">

    <div class="card-header">
      <h2>Novo artigo</h2>
    </div>

    <div class="card-body">

      <form action="/categories/save" method="post">

        <input
          type="text"
          name="title"
          placeholder="defina o título do Artigo"
          class="form-control mt-4 mb-4"/>
          <textarea name="body" placeholder="Escreva seu artigo aqui!" id="article" class="form-control"></textarea>
        <button type="submit" class="btn btn-success">Cadastrar</button>

      </form>

    </div>
  </div>
</div>

<%- include('./partials/_tinyMCE.ejs') %>

<%- include('./partials/_foot.ejs') %>
