<div class="bg-primary">
<nav class="navbar navbar-dark container navbar-expand-lg">
    <a class="navbar-brand" href="/">
        GuiaPress
    </a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a  class="nav-link" href="/">Home</a>
        </li>
        
        <% category.forEach(categorie => { %>
            <li class="nav-item">
                <a  class="nav-link" href="/category/<%- categorie.dataValues.slug %>"><%- categorie.dataValues.title %></a>
            </li>
        <% }) %>
        
    </ul>

</nav>
</div>